<a href="https://colab.research.google.com/github/guhankesav/Ml/blob/main/CSE18511_REGRESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CB.EN.U4CSE18511

In [1]:
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize']=(10.0,5.0)

data=pd.read_csv('/content/sample_data/50_Startups.csv')

#print(data)
x=data.iloc[:,:4]
#x=data.iloc[:,:-1]
y=data.iloc[:,-1:]

In [2]:
x_df = pd.DataFrame(x)
y_df = pd.DataFrame(y)

In [3]:
from sklearn.preprocessing import LabelBinarizer
State_bin=LabelBinarizer()
#x=State_bin.fit_transform(x.State.values)
x_df = x_df.join(pd.DataFrame(State_bin.fit_transform(x_df.State.values),
                          columns=State_bin.classes_, 
                          index=x_df.index))
x_df1=x_df.drop(['State'], axis = 1)
x_df1

    R&D Spend  Administration  Marketing Spend  California  Florida  New York
0   165349.20       136897.80        471784.10           0        0         1
1   162597.70       151377.59        443898.53           1        0         0
2   153441.51       101145.55        407934.54           0        1         0
3   144372.41       118671.85        383199.62           0        0         1
4   142107.34        91391.77        366168.42           0        1         0
5   131876.90        99814.71        362861.36           0        0         1
6   134615.46       147198.87        127716.82           1        0         0
7   130298.13       145530.06        323876.68           0        1         0
8   120542.52       148718.95        311613.29           0        0         1
9   123334.88       108679.17        304981.62           1        0         0
10  101913.08       110594.11        229160.95           0        1         0
11  100671.96        91790.61        249744.55           1        0         0
12   93863.75       127320.38        249839.44           0        1         0
13   91992.39       135495.07        252664.93           1        0         0
14  119943.24       156547.42        256512.92           0        1         0
15  114523.61       122616.84        261776.23           0        0         1
16   78013.11       121597.55        264346.06           1        0         0
17   94657.16       145077.58        282574.31           0        0         1
18   91749.16       114175.79        294919.57           0        1         0
19   86419.70       153514.11             0.00           0        0         1
20   76253.86       113867.30        298664.47           1        0         0
21   78389.47       153773.43        299737.29           0        0         1
22   73994.56       122782.75        303319.26           0        1         0
23   67532.53       105751.03        304768.73           0        1         0
24   77044.01        99281.34        140574.81           0        0         1
25   64664.71       139553.16        137962.62           1        0         0
26   75328.87       144135.98        134050.07           0        1         0
27   72107.60       127864.55        353183.81           0        0         1
28   66051.52       182645.56        118148.20           0        1         0
29   65605.48       153032.06        107138.38           0        0         1
30   61994.48       115641.28         91131.24           0        1         0
31   61136.38       152701.92         88218.23           0        0         1
32   63408.86       129219.61         46085.25           1        0         0
33   55493.95       103057.49        214634.81           0        1         0
34   46426.07       157693.92        210797.67           1        0         0
35   46014.02        85047.44        205517.64           0        0         1
36   28663.76       127056.21        201126.82           0        1         0
37   44069.95        51283.14        197029.42           1        0         0
38   20229.59        65947.93        185265.10           0        0         1
39   38558.51        82982.09        174999.30           1        0         0
40   28754.33       118546.05        172795.67           1        0         0
41   27892.92        84710.77        164470.71           0        1         0
42   23640.93        96189.63        148001.11           1        0         0
43   15505.73       127382.30         35534.17           0        0         1
44   22177.74       154806.14         28334.72           1        0         0
45    1000.23       124153.04          1903.93           0        0         1
46    1315.46       115816.21        297114.46           0        1         0
47       0.00       135426.92             0.00           1        0         0
48     542.05        51743.15             0.00           0        0         1
49       0.00       116983.80         45173.06           1        0         0

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_df1,y_df,test_size=0.2)
print (x_train.shape,x_test.shape,y_train.shape,y_test.shape )

(40, 6) (10, 6) (40, 1) (10, 1)

In [5]:
regr = SGDRegressor(max_iter=10000)
regr.fit(x_train, y_train.values.ravel())

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=10000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [6]:
y_predict=regr.predict(x_test)

In [7]:
from sklearn.metrics import mean_squared_error,r2_score
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test, y_predict))

3.607460188354757e+39
-3.697991767269367e+30

In [8]:
z=[[155429,345782,239828,1,0,0]];
regr.predict(z)

array([-8.46112474e+19])

In [9]:
print(regr.intercept_)
print(regr.coef_ )

[9.21594419e+09]
[-6.83033955e+14  4.98685658e+13  1.79644773e+13 -1.08566654e+10
  8.71561259e+09  1.13547064e+10]

Work :

In [10]:
x_df2 = x_df1
x_df2

    R&D Spend  Administration  Marketing Spend  California  Florida  New York
0   165349.20       136897.80        471784.10           0        0         1
1   162597.70       151377.59        443898.53           1        0         0
2   153441.51       101145.55        407934.54           0        1         0
3   144372.41       118671.85        383199.62           0        0         1
4   142107.34        91391.77        366168.42           0        1         0
5   131876.90        99814.71        362861.36           0        0         1
6   134615.46       147198.87        127716.82           1        0         0
7   130298.13       145530.06        323876.68           0        1         0
8   120542.52       148718.95        311613.29           0        0         1
9   123334.88       108679.17        304981.62           1        0         0
10  101913.08       110594.11        229160.95           0        1         0
11  100671.96        91790.61        249744.55           1        0         0
12   93863.75       127320.38        249839.44           0        1         0
13   91992.39       135495.07        252664.93           1        0         0
14  119943.24       156547.42        256512.92           0        1         0
15  114523.61       122616.84        261776.23           0        0         1
16   78013.11       121597.55        264346.06           1        0         0
17   94657.16       145077.58        282574.31           0        0         1
18   91749.16       114175.79        294919.57           0        1         0
19   86419.70       153514.11             0.00           0        0         1
20   76253.86       113867.30        298664.47           1        0         0
21   78389.47       153773.43        299737.29           0        0         1
22   73994.56       122782.75        303319.26           0        1         0
23   67532.53       105751.03        304768.73           0        1         0
24   77044.01        99281.34        140574.81           0        0         1
25   64664.71       139553.16        137962.62           1        0         0
26   75328.87       144135.98        134050.07           0        1         0
27   72107.60       127864.55        353183.81           0        0         1
28   66051.52       182645.56        118148.20           0        1         0
29   65605.48       153032.06        107138.38           0        0         1
30   61994.48       115641.28         91131.24           0        1         0
31   61136.38       152701.92         88218.23           0        0         1
32   63408.86       129219.61         46085.25           1        0         0
33   55493.95       103057.49        214634.81           0        1         0
34   46426.07       157693.92        210797.67           1        0         0
35   46014.02        85047.44        205517.64           0        0         1
36   28663.76       127056.21        201126.82           0        1         0
37   44069.95        51283.14        197029.42           1        0         0
38   20229.59        65947.93        185265.10           0        0         1
39   38558.51        82982.09        174999.30           1        0         0
40   28754.33       118546.05        172795.67           1        0         0
41   27892.92        84710.77        164470.71           0        1         0
42   23640.93        96189.63        148001.11           1        0         0
43   15505.73       127382.30         35534.17           0        0         1
44   22177.74       154806.14         28334.72           1        0         0
45    1000.23       124153.04          1903.93           0        0         1
46    1315.46       115816.21        297114.46           0        1         0
47       0.00       135426.92             0.00           1        0         0
48     542.05        51743.15             0.00           0        0         1
49       0.00       116983.80         45173.06           1        0         0

In [11]:
x_df3 = x_df2.join(y_df)

finding correlation of all features with one another

In [12]:
correlation_df = x_df3.corr()
correlation_df

                 R&D Spend  Administration  ...  New York    Profit
R&D Spend         1.000000        0.241955  ...  0.039068  0.972900
Administration    0.241955        1.000000  ...  0.005145  0.200717
Marketing Spend   0.724248       -0.032154  ... -0.033670  0.747766
California       -0.143165       -0.015478  ... -0.515152 -0.145837
Florida           0.105711        0.010493  ... -0.492366  0.116244
New York          0.039068        0.005145  ...  1.000000  0.031368
Profit            0.972900        0.200717  ...  0.031368  1.000000

[7 rows x 7 columns]

In [13]:
y_df1 = correlation_df["Profit"]
y_df1
print(y_df1[0])
droppp = []
for i in range(0,7):
  if y_df1[i] < 0.2 and y_df1[i] > -0.2 :
    droppp.append(i)
j=0 
for i in droppp :
  
  x_df3 = x_df3.drop(x_df3.columns[i-j], axis =1)
  j=j+1

x_df3

0.9729004656594831

    R&D Spend  Administration  Marketing Spend     Profit
0   165349.20       136897.80        471784.10  192261.83
1   162597.70       151377.59        443898.53  191792.06
2   153441.51       101145.55        407934.54  191050.39
3   144372.41       118671.85        383199.62  182901.99
4   142107.34        91391.77        366168.42  166187.94
5   131876.90        99814.71        362861.36  156991.12
6   134615.46       147198.87        127716.82  156122.51
7   130298.13       145530.06        323876.68  155752.60
8   120542.52       148718.95        311613.29  152211.77
9   123334.88       108679.17        304981.62  149759.96
10  101913.08       110594.11        229160.95  146121.95
11  100671.96        91790.61        249744.55  144259.40
12   93863.75       127320.38        249839.44  141585.52
13   91992.39       135495.07        252664.93  134307.35
14  119943.24       156547.42        256512.92  132602.65
15  114523.61       122616.84        261776.23  129917.04
16   78013.11       121597.55        264346.06  126992.93
17   94657.16       145077.58        282574.31  125370.37
18   91749.16       114175.79        294919.57  124266.90
19   86419.70       153514.11             0.00  122776.86
20   76253.86       113867.30        298664.47  118474.03
21   78389.47       153773.43        299737.29  111313.02
22   73994.56       122782.75        303319.26  110352.25
23   67532.53       105751.03        304768.73  108733.99
24   77044.01        99281.34        140574.81  108552.04
25   64664.71       139553.16        137962.62  107404.34
26   75328.87       144135.98        134050.07  105733.54
27   72107.60       127864.55        353183.81  105008.31
28   66051.52       182645.56        118148.20  103282.38
29   65605.48       153032.06        107138.38  101004.64
30   61994.48       115641.28         91131.24   99937.59
31   61136.38       152701.92         88218.23   97483.56
32   63408.86       129219.61         46085.25   97427.84
33   55493.95       103057.49        214634.81   96778.92
34   46426.07       157693.92        210797.67   96712.80
35   46014.02        85047.44        205517.64   96479.51
36   28663.76       127056.21        201126.82   90708.19
37   44069.95        51283.14        197029.42   89949.14
38   20229.59        65947.93        185265.10   81229.06
39   38558.51        82982.09        174999.30   81005.76
40   28754.33       118546.05        172795.67   78239.91
41   27892.92        84710.77        164470.71   77798.83
42   23640.93        96189.63        148001.11   71498.49
43   15505.73       127382.30         35534.17   69758.98
44   22177.74       154806.14         28334.72   65200.33
45    1000.23       124153.04          1903.93   64926.08
46    1315.46       115816.21        297114.46   49490.75
47       0.00       135426.92             0.00   42559.73
48     542.05        51743.15             0.00   35673.41
49       0.00       116983.80         45173.06   14681.40

###Now we have dropped the features that have less than 0.2 in correlation

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_df3,y_df,test_size=0.2)
print (x_train.shape,x_test.shape,y_train.shape,y_test.shape )

(40, 4) (10, 4) (40, 1) (10, 1)

In [15]:
regr = SGDRegressor(max_iter=10000)
regr.fit(x_train, y_train.values.ravel())

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=10000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [16]:
y_predict=regr.predict(x_test)

Calculating the error again

In [17]:
from sklearn.metrics import mean_squared_error,r2_score
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test, y_predict))

1.9413213894163728e+40
-1.9732785576216637e+31

###using Linear regression

In [18]:
reg_Linear = LinearRegression()
reg_Linear.fit(x_train,y_train)
yy_predict = reg_Linear.predict(x_test)

In [19]:
print(r2_score(y_test,yy_predict))

1.0

The SGD regression doesn't yeild a good output but linear regression does yeilds good result