<a href="https://colab.research.google.com/github/guhankesav/Ml/blob/main/Loan_payment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CB.EN.U4CSE18511
Loan_dataset

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error,f1_score
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
plt.rcParams['figure.figsize']=(10.0,5.0)

data=pd.read_csv('/content/drive/MyDrive/6th SEM/POML/loan_data.csv')

#print(data)
#x=data.iloc[:,:4]
x=data.iloc[:,:-1]
y=data.iloc[:,-1:]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
x_df = pd.DataFrame(x)
y_df = pd.DataFrame(y)

In [ ]:
x_df = x_df.drop(['purpose'],axis=1)

In [ ]:
l = x_df.columns

In [ ]:
for i in l:
    val = x_df[i].corr(y_df['not.fully.paid'])
    print(i,val)
    if(abs(val) < 0.14):
        x_df = x_df.drop([i],axis=1)

credit.policy -0.15811915031404808
int.rate 0.15955158251815474
installment 0.04995516207059684
log.annual.inc -0.03343937654192997
dti 0.03736152382778254
fico -0.14966630307483755
days.with.cr.line -0.02923667180034762
revol.bal 0.053699363135291216
revol.util 0.08208776761019995
inq.last.6mths 0.14945194425507966
delinq.2yrs 0.00888104094709795
pub.rec 0.048634301352197

In [ ]:
x_df.corr()

                credit.policy  int.rate      fico  inq.last.6mths
credit.policy        1.000000 -0.294089  0.348319       -0.535511
int.rate            -0.294089  1.000000 -0.714821        0.202780
fico                 0.348319 -0.714821  1.000000       -0.185293
inq.last.6mths      -0.535511  0.202780 -0.185293        1.000000

In [ ]:
x_df = x_df.drop(['credit.policy'],axis=1)
x_df = x_df.drop(['fico'],axis=1)

In [ ]:
y_df

      not.fully.paid
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
9573               1
9574               1
9575               1
9576               1
9577               1

[9578 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_df,y_df,test_size=0.2)
print (x_train.shape,x_test.shape,y_train.shape,y_test.shape )

(7662, 2) (1916, 2) (7662, 1) (1916, 1)

In [ ]:
regr = LogisticRegression(random_state=0)
regr.fit(x_train, y_train.values.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_predict=regr.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score,f1_score
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test, y_predict))

0.14979123173277661
-0.16286968014803094

In [ ]:
print(regr.classes_)

[0 1]

In [ ]:
regr = LogisticRegression(random_state=0,solver='lbfgs',max_iter=10000)
regr.fit(x_train, y_train.values.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_predict=regr.predict(x_test)

In [ ]:
print(mean_squared_error(y_test,y_predict))
print(f1_score(y_test, y_predict))

0.14979123173277661
0.04013377926421405